@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    background-color: #C8CACE;  
}

.title {
    background: #ffffff;
    margin-left: 35px;
    margin-top: 20px;
    width: 95%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
    color: #000000;
}

.select-teacher {
    background-color: #ffffff;
    margin-left: 35px;
    margin-top: 20px;
    width: 95%;
    height: 60px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
}

.select-teacher select {
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.list {
    background: #ffffff;
    margin-left: 33px;
    margin-top: 33px;
    width: 20%;
    height: 100%;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
    float: left;
    color: #000000;
}

.list a {
    color: #000000;
    padding: 10px
}

.evaluation-form {
    background: #ffffff;
    color: #000000;
    margin-right: 33px;
    margin-top: 33px;
    width: 70%;
    height: 100%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
    float: right;
}

.evaluation-form h3 {
    text-align: center;
    border-bottom: 1px solid rgb(0, 0, 0);
}

fieldset {
    background-color: #C8CACE;
    margin-top: 20px;
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove (internal value);
}
  
legend {
    background-color: #272829;
    color: white;
    padding: 5px 10px;
}
  
input {
    margin: 5px;
}

table, th, td {
    border: 1px solid black;
    padding: 10px;
    width: 100%;
}