@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    background: #C8CACE;
}

.evaluation-form {
    background-color: #ffffff;
    margin-left: 30px;
    margin-top: 20px;
    width: 95%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
}

.left {
    margin-top: 20px;
    margin-left: 20px;
}

.left button {
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 600;
    background: #1877F2;
    color: #FFFFFF;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 10px;
    transition: all 0.2s ease;
}

.left button:active {
    transform: scale(0.96);
}

.popup {
    position: absolute;
    top: -150%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.25);
    width: 400px;
    padding: 20px 30px;
    background: #FFFFFF;
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms;
    opacity: 200ms ease-in-out 0ms;
    transform: 20ms ease-in-out 0ms;
    z-index: 1;
}

.popup.active {
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 0ms;
    opacity: 200ms ease-in-out 0ms;
    transform: 20ms ease-in-out 0ms;
    z-index: 1;
}

.popup .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: #888;
    color: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
    z-index: 1;
}

.popup .form h2 {
    text-align: center;
    color: #000000;
    font-size: 25px;
    z-index: 1;
}

.popup .form .form-element {
    margin: 15px 0px;
    z-index: 1;
}

.popup .form .form-element label {
    font-size: 15px;
    color: #222;
    z-index: 1;
}

.popup .form .form-element select, .popup .form .form-element textarea {
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
    z-index: 1;
}

.popup .form .form-element button {
    width: 100%;
    height: 35px;
    border: none;
    outline: none;
    font-size: 15px;
    background: #222;
    color: #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
    z-index: 1;
}

.container {
    width: 95%;
    height: 100%;
    background: #F1F2FB;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
 
}

th {
    background: #272829;
    font-size: 14px;
    color: #FFFFFF;
}

td {
    font-size: 12px;
}
